// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-list
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-list-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-list {
  display: flex;

  padding: 12px 0;

  align-items: center;

  &:after {
    @extend .material-icons;

    content: "keyboard_arrow_right";

    font-size: inherit;
  }
}

.entity-list__heading {}
.entity-list__heading__title {
  padding: 0;
  margin: 0;

  font-weight: $headings-font-weight;
  font-size: $font-size-h6;

  color: $text-color;
}

.entity-list__icon {
  flex-grow: 0;

  + .entity-list__content {
    margin-left: 10px;
  }
}

.entity-list__content {
  flex-grow: 1;
}

.view-decreto-organisations {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-locations {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-user-departments {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-departments {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-users {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
