// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-list
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-list-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-list {
  display: flex;

  padding: 12px 0;

  align-items: center;

  &:after {
    @extend .material-icons;

    content: "keyboard_arrow_right";

    font-size: inherit;
  }
}

.entity-list__heading {}
.entity-list__heading__title {
  padding: 0;
  margin: 0;

  font-weight: $headings-font-weight;
  font-size: $font-size-h6;

  color: $text-color;
}

.entity-list__icon {
  flex-grow: 0;

  + .entity-list__content {
    margin-left: 10px;
  }
}

.entity-list__content {
  flex-grow: 1;
}

.view-decreto-organisations {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-user-organisations {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-locations {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-user-departments {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-departments {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-departments {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.view-decreto-users {

  .views-row {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

// --------------------------------------------------
// Variants
.view-decreto-users {

  .views-row {
    position: relative;
    
    .role-icon {
      display: block;
      position: absolute;
      top: 38px;
      left: 32px;
      width: 18px;
      height: 18px;
      
      font-size: 14px;
      text-align: center;
      line-height: 16px;
      
      border-radius: 9px;
      background: #fff;
      
      &.role-leder {
        color: $text-color;
      }
      
      &.role-stedfortraeder {
        color: $link-color;
      }
    }
  }
  
  .view-footer {
    
    ul {
      
      background: $body-bg;
      border-top: 1px solid $border-color;
      padding: 24px 16px;
      font-size: $font-size-small;
      color: $gray-light;
      
      li {
        list-style: none;
        position: relative;
        display: inline-block;
        padding-left: 26px;
        
        &:nth-child(2n-1) {
          padding-right: 20px;
        }

        &::before {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 14px;
          
          font-family: "Material Icons";
        }
        
        &.role-leder:before {
          content: "\e838";
          color: $text-color;
        }

        &.role-stedfortraeder::before {
          content: "\e838";
          color: $link-color;
        }
      } 
    }
  }
}

// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
