/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}
body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}
    .col-xs-12{
        margin: 0;
        padding:0;
    }
/*---------------background-login-page-----------*/
.region-login{
    background: #fbfbfb;
    width: 80%;
}
.region-content{
    background: #fbfbfb;
    width: 100%;
}

#signup_button{
    background: #fbfbfb;
    padding: 0;
    width: 100%;
}

.decreto-dashboard-logo {
    background-image: url('../image/decreto-sign.png');
    background-size: 40px;
    width: 100px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    padding: 10px;
    background-position: 1px 2px;
}

/*--------------login page starts here-------*/
.path-user {
    background: #fbfbfb;
}
#login-page .user-form-wrapper .btn {
    padding: 15px 25px;
    font-size: 16px;
    line-height: 1.42857143;
    border-width: 1px;
    border-style: solid;
    text-align: left;
}

#login-page .main-container__content {
    background: none!important;
}

#login-page .user-form-wrapper .user-form-container {
    width: 320px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#login-page .user-form-wrapper .user-form-header {
    position: relative;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 60px;
}

#login-page .user-form-wrapper .user-form-header .user-form-header-logo {
    width: 100%;
}
#login-page .main-container__content .user-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#login-page .user-form-wrapper .user-form-form-wrapper {
    position: relative;
    padding-top: 70px;
}
#login-page .user-form-wrapper .user-form-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-form-footer a {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}
.user-form-wrapper .user-form-footer p {
    font-size: 12px;
    margin-top: 5px;
    color: #aeaeae;
}

#login-page {
    background: #fbfbfb;
    min-height: 100%;
}

.col-md-12.toggle-menu.toggle-menu-right{
    padding-right: 0px;
    padding-left: 0px;
    background: #fbfbfb;
}
#block-decretologobrand .field--label{
    display: none;
}
#block-decretologobrand{
    border: none;
    box-shadow: none;
}
.user-form-header {
    position: relative;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 0px
}
.img-responsive{
    width: 100%;
    margin: 0 auto;
}
.path-user .user-form-header .user-form-header-logo {
    width: 100%
}
.user-form-form-wrapper {
    position: relative;
}
.user-form-container img {
    height: 165px;
}
.user-form-container a {
    display: flex;
}

th {
    color: #364045!important;
}
#block-views-block-decreto-calender-calendar-block .today {
    background: #ea6022!important;
        color: #fff!important;
    border-radius: 100px!important;
    width: 30px;
    height: 38px;
}
#block-views-block-decreto-user-committees-my-committees-block a {
    color: #ea6022;
}
/* ----------------------------Icons--------------------------- */
#block-menu-icon-links{
    border:none;
    box-shadow: none;
    background:#fbfbfb;
}
.panel-body {
  
    width: 100%;
    margin: 0px auto;
    }
.annotator-wrapper .field p{
    background: #ffffff;
    padding-bottom: 50px;
    height: 100%;
    padding-left: 55px;
    padding-right: 10px;
}
.contextual-region .decreto-bullet-point-attachment{
    background: #fbfbfb
}
.decreto-bullet-point-attachment .btn{
    background: #fbfbfb;
}
.decreto-bullet-point-attachment .btn:focus{
    background: transparent;
    border: 1px solid rgba(0,0,0,0.1);
}
#block-socialiconsconnect .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item{
    font-size: 0;
    height: 50px;
    margin: 0;
    padding: 0;
}
.user-form-call-to-action-buttons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}
.user-form-call-to-action-buttons li {
    padding-bottom: 40px;
}
.user-form-call-to-action-buttons li a {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 44px;
    border-width: 1px;
    border-style: solid;
    border-color: #ebebec;
    border-radius: 100%;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.user-form-call-to-action-buttons li a .icon {
    color: #32424c;
    font-size: 20px
}
.user-form-call-to-action-buttons li a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-form-call-to-action-buttons li a:hover,
.user-form-call-to-action-buttons li a:focus {
    border-color: #9cd7cc;
    border-width: 4px
}
.user-form-call-to-action-buttons li a:hover .icon,
.user-form-call-to-action-buttons li a:focus .icon {
    color: #ec7139
}
.user-form-form-wrapper .user-form-form {
    margin: 0 -25px
}
.user-form-form .form-group {
    margin-bottom: 25px
}
.user-form-form .form-control {
    height: 55px;
    padding: 15px 25px;
    border-width: 1px;
    border-color: #ebebec
}
/*---------------------login field------------*/
.user-login-form .form-group{
    margin-bottom: 30px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: capitalize;
    color: #eee;
}
::-moz-placeholder { /* Firefox 19+ */
   text-transform: capitalize;
    color: #eee;
}
:-ms-input-placeholder { /* IE 10+ */
   text-transform: capitalize;
    color: #eee;
}
:-moz-placeholder { /* Firefox 18- */
   text-transform: capitalize;
    color: #eee;
}
.form-item-name .required{
    display: block;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    border:none;
    box-shadow: none;
}
.form-item-pass .required{
    display: block;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    border:none;
    box-shadow: none;
}
#user-login-form #edit-submit{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    font-weight: 100;
    height: 55px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #ec7139;
    border:none;
    box-shadow: none;
    color: #ffffff;
}

.glyphicon-question-sign:before{
    display: none!important;
}
.alert.alert-info.messages.info.region.region-help{
    background:none;
    border:none;
    padding:0px;
    padding-left: 20px;
    padding-right: 20px;
}
/*------------------------signup field------------------*/

#login-page input {
    height: 55px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #ebebec;
    
}
#block-signuplink { background: none; height: 55px;}
#block-signuplink a{
    background: none;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    font-size: 16px;
    justify-content: space-between;
    font-weight: 100;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 auto;
    border:none;
    box-shadow: none;
    color: #ffffff;
     padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#block-signuplink .field--label{
    display: none;
}
#login-page .region-content {
    padding-right: 20px;
    padding-left: 20px;
    background: #fbfbfb;
}
.field--item{
    width: 100%;
    height: 100%;
    padding:0px;
    margin: 0px;
}
.field.field--name-field-primary.field--type-link.field--label-above{
    font-size: 18px;
}
#block-signuplink .panel-body{
    padding-left: 10px;
    padding-right: 10px;
}
#block-signuplink .field--type-link a{
    color: #4b616f;
    font-weight: 200;
    font-family: sans-serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
   }
#block-forgotpassword{
    border: none;
    box-shadow: none;
    text-align: center;
    background:none;
    margin-top: 20px;
    color: #4b616f;
    font-size: 15px;
}
/*-----------------login-messages-bar------------*/
.tooltip.right {
    padding: 0 5px;
    margin-left: -280px;
    margin-top: 40px;
    /* width: 350px; */
}
/*-------------------- login page end here--------------*/
/*--------------dashboard-front-page---------*/

/*-----------------------dashboard page-----------------*/
#navbar{
    background:#323641;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0;
    padding: 0;
}
.region.navbar-btn{
    display: none;
}
/*------------------hamburger-menu---------------*/
.fa-navicon:before, .fa-reorder:before, .fa-bars:before{

}
/*---------------------navbar-toggle------------------------*/
.navbar-header {

}
.navbar-default .navbar-toggle:hover{ 
    background: none
}
.navbar-default .navbar-toggle:focus {
    background: none;
}
#views-exposed-form-decreto-search-page .row{
    margin-top: 0px;
}
/*----------------------navbar-collapse---------------------*/
#navbar-collapse{
    border: none;
    box-shadow: none;
    margin-top: 10px;
}
/*---------------------icon-bar------------------------*/

.hamburger-icon i {
    font-size: 25px;
    color: #fbfbfb;
    float: right;
    margin-top: 12px;
    margin-right: 15px;
    cursor: pointer;
}
.navbar-toggle div {
    margin: 0!important;
    padding-top: 0!important;
}
.navbar-toggle {
    margin-top: 16.5px;
    padding: 0;
    display: block;
    border: none;
    margin-right: 10px;
}
/*---------------------search-bar----------------------*/

#edit-search-api-fulltext{
    color: rgba(50,59,64,0.95);
    border: 1px solid rgba(0,0,0,0.0);
    box-shadow: none;
    border-radius: inherit;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px!important;
    text-indent: 15px;
}
#edit-submit-decreto-search{
    margin-top: 3px!important;
    background: #fff;
    height: 35px;
    border-radius: 100px!important;
    border-bottom-left-radius: 0px!important;
    border: none!important;
    border-top-left-radius: 0px!important
  
}
#edit-submit-decreto-search span{
    color: #32424c;
    font-size: 24px;  
    display: flex;
    flex-direction: row-reverse;
}
#edit-submit-decreto-search .glyphicon-search:before{
    background-image: url(../image/google_search2.svg);
    color: transparent;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: -2px -3px;
    padding-left: 5px;
}
/*----------------------navbar-menu-icons-------------*/
.navbar-nav .dashboard:before{
    margin-right: 15px;
    font-size: 20px;
    font-family: "Material Icons";
    content: "\E871";
}
.navbar-nav .calendar:before{
    margin-right: 15px;
    font-size: 20px;
    font-family: "Material Icons";
    content: "\E916";
}
.navbar-nav .meetings:before{
    content: "\E7fb";
    margin-right: 15px;
    font-size:20px;
    font-family: "Material Icons";
}
.navbar-nav .users:before{
    margin-right: 15px;
    font-size: 20px;
    font-family: "Material Icons";
    content: "\E851";
}
.navbar-nav .settings:before{
    content: "\f013";
    margin-right: 15px;
    font-size: 20px;
    font-family: "Material Icons";
    content: "\E8b9";
}


/*---------------------expand menu---------------------*//*----111A1F----*/
#block-main-navigation-mobile .navbar-nav li a{
    color: #ffffff;
}
#block-main-navigation-mobile .navbar-nav li a:focus{
    color: #ec7139;
}
.dropdown .meetings:focus{
    background: #323641;
    color: #ec7139;
}
.dropdown .dropdown-menu{
    font-size: 18px;
    padding-left: 22px;
    padding-top: 0;
}
.dropdown .dropdown-menu li{
    padding-top: 2px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
    background: transparent;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus{
    background: transparent;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
    background: transparent;
}
/*---------------------------------user account menu responsive------------------*/
#block-user-account-menu-mobile hr{
    border: 0;
}
#block-user-account-menu-mobile li a{  
    color: #fff;
    padding-top: 11px;
    position: relative;
    width: 100%;
    color: #fff; 
}
a[href^="/user/edit"]:before{
    content: "\f040";
    font-family: fontAwesome;
    font-size: 15px;
    margin-right: 15px;
}
a[href^="/user/logout"]:before{
    content: "\f08b";
    font-family: fontAwesome;
    font-size: 15px;
    margin-right: 15px;
}
.caret {
    display: inline;
    width: inherit;
    height: inherit;
    margin-left: 0;
    vertical-align: middle;
    border-top: 0;
    border-top: 4px solid \9;
    border-right: 0;
    border-left: 0;
}
.caret:before{
    width: 18px;
    height: 20px;
    border: none;
    float: right;
    content: "\f107";
    font-family: fontAwesome;
}
.open .caret:before{
    -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 0;
  transition: .1s;
    
}
/*------------------dashboard comitte meetings--------------*/
.breadcrumb{
    height: 100%;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0px;
    margin: 0;
    padding: 20px;
    padding-top: 10px;
}
.breadcrumb li{
    font-size: 15px
}
.breadcrumb > li + li:before{
    content: "\f105";
    font-family: fontAwesome;
    color: #338ecf;
}
.col-md-9.toggle-menu.toggle-menu-right{
    background:#FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
#block-views-block-decreto-my-meetings-block-my-meetings{
    border: none;
    margin: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 10px;
}
#block-views-block-decreto-my-meetings-block-my-meetings .panel-body{
    padding: 0;
}
.panel-default > .panel-heading {
    background: #ffffff;
    border-radius: initial;
    height: 100%;
    border: none;
    border-radius: 5px;
}
.panel-title{
    color: #3c464c;
    cursor: pointer;
}
.panel-title:hover{
    background:transparent;
}
.views-element-container .panel-body {
    padding: 4px;
    background: #F4F4F4;
    border: 6px solid #ffffff;
}
/*--------------------------dashboard meetings tables-------------*/
.table-responsive{
    border: none;
}
.table {
    margin-bottom: 0px;
}
.table-responsive a{
    color:#373f44;
}
.table-striped thead{
    background: #ffffff;
    color: #32424c;
    font-size: 16px;
}
.table-striped > tbody > tr:nth-of-type(odd){
    background:none;
    font-size: 18px;
}
.table-striped > tbody > tr:nth-of-type(odd):hover{
}
.table-striped > tbody > tr:nth-of-type(even){
    background:#ffffff;
    font-size: 18px;
}
.table-striped > tbody > tr:nth-of-type(even):hover{
}
.pagination > li > a, 
.pagination > li > span{
    border: transparent;
    background: transparent;
    color: #898b8f;
}
.pagination > li > a:hover, 
.pagination > li > span:hover,
.pagination > li > span:focus{
    background: #fbfbfb;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover,
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
    background: transparent;
    color: #323641;
}
.pager__item.pager__item--first{
    display: none;
}
.pager__item.pager__item--last{
    display: none;
}
/*--------------------info and agenda---------------------------*/
#block-views-block-decreto-my-meetings-block-my-meetings .panel-title{
    background: #ffffff;
    color: #323641;
    cursor: pointer;
    padding-left: 13px;
    font-size: 20px;
}
.nav-justified > li:nth-child(1){
    width: 50%;
    height: 45px;
}
.nav-justified > li > a{
    margin-bottom: 0;
}
.nav-justified > li > a:nth-child(1){
    font-size: 20px;
    border-radius: inherit;
    background: #ffffff;
    border-right: 1px solid #e7e7e7;
    color: #323641;

}
.nav-justified > li > a:nth-child(1):focus{
    background: #323641;
}
.nav-justified > li:nth-child(2){
    width: 50%;
    float: right;
    margin-top: -45px;
}
.decreto-meeting .panel-default{
    border: none;
    box-shadow: none;
}
.contextual-region .content{
    padding-top: 0px;
    height: 100%;
    background: #fbfbfb;
}
.annotator-wrapper{
    position: relative;
    font-size: 16px;
    height: 100%;
}
.contextual-region .tab-content{
    width: 100%;
    background: #ffffff;
}
.contextual-region .nav-pills{
    padding: 0;
    background: #ffffff;
    text-transform: uppercase;
    height: 48px;
}
.contextual-region .panel-body {
    padding: 0px;
    background: #ffffff;
}
#info{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background: #ffffff;
}
#info .field{
    margin: 0;
    display: flex;
    width: 100%;
    padding-top: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 100%;
}
#info .Type {
pointer-events: none;
}
#info .field--name-field-decreto-meet-type{
    background: #fbfbfb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#info #Type {
display: block!important;
}
#info .Committee{
pointer-events: none; 
}
#info #Committee{
display: block!important;  
font-weight: 600;  
}
#info .From{
pointer-events: none; 
}
#info #From{
display: block!important;    
}
#info .field--name-field-decreto-meet-start-date{
    background: #fbfbfb;
}
#info .to{
pointer-events: none; 
}
#info #to{
display: block!important;    
}
#info .Location{
pointer-events: none; 
}
#info #Location{
display: block!important;   
font-weight: 600; 
}
#info .field--name-field-decreto-meet-location{
    background: #fbfbfb;
}
.field--name-field-decreto-meet-partic .field--label{
    padding-left: 12px;
}
#info .field--name-field-decreto-meet-partic .field--label:after{
    content: "\f107";
    font-family: fontAwesome;
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-top: -10px;
    font-weight: 900;
}
#info .field--type-text-with-summary{
    background: #fbfbfb;
    display: inline-grid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#info .field--type-text-with-summary .field--label:after{
    content: "\f107";
    font-family: fontAwesome;
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-top: -10px;
    font-weight: 900;
}
#info .field .field--label{
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    width: 100%;
    padding-left: 5px;
}
#info .field .field--item{
    font-size: 18px;
    text-align: right;
}
#info .col-xs-7{
    width: 100%;
    height: 100%;
    text-align:right;
}
.teaser h2{
    display: none;
}
/*----------------agenda starts here--------------*/
#agenda{
    width: 100%;
    background: #ffffff;
    padding-top: 20px;
}
#agenda .btn-primary{
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 0px;
    background: #ffffff;
    margin-right: 10px;
    margin-left: 10px;
}
#agenda .nav-container{
    height: 0;
    font-weight: 0;
}
.btn-expand-collapse .glyphicon:before{
    font-family: FontAwesome;
    content: "\f107";
    color: #32424c;
    font-size: 20px;
}
.area-expand-collapse span a{
    color: #32424c;
    font-size: 20px;
}

#agenda .panel-default{
    background: transparent;
}
#agenda .btn-primary.down{
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
/*-------------------field icons(info and agenda page)--------*/
.field--name-field-decreto-meet-type .glyphicon-asterisk:before{
    font-family: "Material Icons";  
    content: "\E838";
    display: inline-block;
    margin-right: 10px;
    color: rgba(0,0,0,0.6);
}
.field--name-field-decreto-meet-committee .glyphicon-asterisk:before{
    font-family: "Material Icons";  
    content: "\E25F";
    display: inline-block;
    margin-right: 10px;
    color: rgba(0,0,0,0.6);
}
.field--name-field-decreto-meet-start-date .glyphicon-asterisk:before{
    font-family: "Material Icons";  
    content: "\E916";
    display: inline-block;
    margin-right: 10px;
    color: rgba(0,0,0,0.6);
}
.field--name-field-decreto-meet-end-date .glyphicon-asterisk:before{
    font-family: "Material Icons";  
    content: "\E01b";
    display: inline-block;
    margin-right: 10px;
    color: rgba(0,0,0,0.6);
}
.field--name-field-decreto-meet-location .glyphicon-asterisk:before{
    font-family: "Material Icons";  
    content: "\E55f";
    display: inline-block;
    margin-right: 10px;
    color: rgba(0,0,0,0.6);
}
#info .field--name-field-decreto-meet-committee{
    background: #ffffff;
}
#info .field--name-field-decreto-meet-end-date{
    background: #ffffff;
}
#info .field--name-field-decreto-meet-partic{
    display: inline-grid;
    background: #ffffff;
}
#info .col-xs-7 #Participants{
    float: left;
    text-align: left!important;
    padding-left: 25px!important;
    height: 100%;
    padding-top: 20px;
}
#info .col-xs-7 #Description{
    float: left;
    text-align: left!important;
    padding-left: 25px!important;
    height: 100%;
    padding-top: 20px;
}
.field--name-field-decreto-meet-partic .glyphicon-asterisk:before{
    font-family: "Material Icons";  
    content: "\E7fb";
    display: inline-block;
    margin-right: 9px;
    margin-left: 3px;
    color: rgba(0,0,0,0.6);
}
.field--name-body .glyphicon-asterisk:before{
    font-family: "Material Icons";  
    content: "\E873";
    display: inline-block;
    margin-right: 9px;
    margin-left: 2px;
    color: rgba(0,0,0,0.6);
}
.field--name-body .field--label{
    padding-left: 13px;
}
/*---------------------calender meetings view----------------*/
.pager{
    margin-top: 0px;
    background:white;
}
.col-md-9 .js-pager__items{
    background: #ffffff;
    font-size: 12px;
}
.js-pager__items{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.js-pager__items ul li a {
    color: #364045;
}
.pager li{
    font-size: 30px;
}
.pager li > a{
    color: #323641;
    background:#ffffff;
    border: none;
}
/*---------------------------calender days and month-------------------*/
.calendar-calendar td{
    color: #777;
}
.calendar-calendar th.days{
    background-color: #eee;
    color: #777;
    font-weight: bold;
    border: 1px solid #ccc;
    font-weight: bold;
}
.calendar-calendar .month-view .full td.single-day .calendar-empty, 
.calendar-calendar .month-view .full td.single-day.empty, 
.calendar-calendar .month-view .full td.date-box.empty{
    background: #f4f4f4;
    color: #3C5565;
}
.calendar-calendar tr{
    background:#FFFFFF;
}
.calendar-calendar .month-view .full td.date-box.today{
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: #ec7139;
}
.calendar-calendar .month-view .full tr td.single-day.today{
    border-bottom: 2px solid #ec7139;
    border-right: 2px solid #ec7139;
    border-left: 2px solid #ec7139;
}
/*-----------------------------create new meetings form----------------*/
.path-meetings{
    background: #ffffff;
}
.path-meetings .region-content{
    background: #ffffff;
}
.path-meetings #decreto-content-modify-meeting-edit-form{
    margin-right: 10px;
    margin-left: 10px;
    background: #ffffff;
    padding: 5px;
}
.table-responsive{
    margin-bottom: 0;
}
#block-views-block-decreto-all-meetings-block-all-meetings{
    background: #ffffff;
    margin-right: 0px;
    border-color: #f1f2f3;
    border: none;
    padding:20px;
    padding-top: 0;
}
#block-views-block-decreto-all-meetings-block-all-meetings .panel-title{
    font-size: 20px;
}
#block-views-block-decreto-all-meetings-block-all-meetings .panel-body{
    background: #fbfbfb;
    padding: 0;
}
#cke_1_top{
    background: #fbfbfb;
}
#cke_1_bottom{
    background: #ffffff;
}
.form-control{
    background:#ffffff;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 10px;
}
.form-control:focus{
    border: 1px solid #a8d3ce;
}
#edit-committee{
   
}
.has-glyphicons .select-wrapper:after{
   color: rgba(0,0,0,0.3);
}
#edit-participants{
    margin-top: 5px;
    margin-bottom: 10px;
}
.form-item .control-label{
    margin-bottom: 10px;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"]{
    width: 20px;
    height: 15px;
}
#cke_edit-description-value{
    border:1px solid #ebebec;
}
#edit-description-format{
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: none;
    border-top: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0!important;
}

#edit-full-doc-upload{
   border: none;
   box-shadow: none;
   background: #ffffff;
   padding-left: 0;
}
#edit-full-doc-closed-upload{
   border: none;
   box-shadow: none;
   background:#ffffff;
   padding-left: 0;
}
#ajax-wrapper--2{
    margin-bottom: 0;
}
#edit-description-format-help-about{
    color: #999999;
    font-size: 13px;
}
#edit-add-bp{
    color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
#decreto-content-modify-meeting-edit-form .js-form-wrapper{
    margin-top: 15px;
    margin-bottom: 10px;
}
.path-meetings .decreto-bullet-point .btn-primary{
    background: transparent;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-left: 0px;
}
.decreto-bullet-point .btn-primary:hover,
.decreto-bullet-point .btn-primary:focus{
    border: 1px solid rgba(0,0,0,0.1);
}
.path-meetings .decreto-bullet-point{
    padding-left: 5px;
}
#agenda .decreto-bullet-point .area-expand-collapse{
    background: #ffffff;
    border-radius: 7px;
}
.path-meetings .decreto-bullet-point .panel-body{
    background: #ffffff;
    padding: 0;
    margin-bottom: 10px;
}
.path-meetings #js-bps-container{
    margin-left: -5px;
}
#js-bps-container:before{
    font-family: "Material Icons";  
    content: "\E146";
    float: left;
    margin-right: 10px;
    margin-top: -7px;
    font-size: 30px;
    color: rgba(0,0,0,0.2);
}
.path-meetings #decreto-content-modify-meeting-edit-form .collapse.in{
    transition: 0s!important;
}
.path-meetings #decreto-content-modify-meeting-edit-form .collapse.in p{
    margin-left: 50px;
}
#decreto-content-modify-meeting-edit-form a{
    color: rgba(0,0,0,0.6);
    transition: 0s!important
}
/*----------------------------this is for modal content------------------*/
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    border-bottom: 1px solid #ddd
 }
.modal-content{
    width: 338px;
    margin: auto;
    margin-top: 150px;
}
#edit-title--o9xVk3OPYLg{
    padding-left: 10px;
}
.modal-header{
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
}
.btn-success, .btn-success:hover, .btn-success:focus{
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.5);
}
.nav-tabs a{
    color: rgba(0,0,0,0.6)
}
.modal-footer{
    border-top: transparent;
}
.modal-footer .button:hover,
.modal-footer .button:not(:hover)
{
    background: rgba(0,0,0,0.1);
}
.modal-footer .js-form-submit{
    margin: 20px;
}
#cke_44_top{
    background: #fbfbfb;
}
#cke_44_bottom{
    background: #fbfbfb;
}
/*--------------button icons----------*/

/*---------------------icons in the menu----------------*/

#block-signuplink .field--type-link a:before {
    content: "\f044";
    display: inline-block;
    font-family: fontawesome;
}
.sf-hidden{
    width: 100%
}
/*---------------------------full-clearfix-decreto-bulletpoint--------*/
.decreto-bullet-point{
    background:#ffffff;
}
.form-group:last-child,
 .panel:last-child, 
 .popover ol:last-child, 
 .popover ul:last-child, p:last-child{
    border-color: #fbfbfb;
 }
.btn-expand-collapse{
    background:transparent;
    border-color: transparent;
}
.btn-expand-collapse:hover{
    border:1px solid rgba(0,0,0,0.1);
}
.user-logged-in .decreto-bullet-point .panel{
    border:none;
    box-shadow: none;
    margin-bottom: 10px;
}
.area-expand-collapse .panel-defaul{
    border-color:#ffffff;
}
#speaker-paper-4 .panel-title{
    font-size: 15px;
    background: #fbfbfb;
    text-decoration: underline;
 }
 
 #speaker-paper-4 .field p{
    background: #fbfbfb;
    padding-bottom: 50px;
    height: 100%;
    padding-left: 30px;
 }

/* -----------------icons on the menu end here--- ----- */

/* --------------------Main menu END ------------------ */

/*------------------only for media screen---------------*/
@media only screen and (min-width: 768px) {
    body{
        margin: 0;
        padding: 0;
    }
    .region-login {
        width: 320px;
    display: flex;
    }
    /*-------------------------------login page-------------------------*/
    #block-decretologobrand .panel-body{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #block-menu-icon-links {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #fbfbfb;
    }
    #edit-name{
        width: 350px;
    }
    #edit-pass{
        width:350px;
    }
    #user-login-form #edit-submit{
        width: 350px;
    }
     #user-login-form #edit-submit.active{
        transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
     }

    #block-signuplink{
        width: 350px;
        margin: 0 auto;
        border: 1px solid #ddd;
    }
    #block-signuplink .field--type-link a{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
    .img-responsive{
        width: 300px;    
    }
    /*------------------------------content-wrapper-------------------*/
    .content-wrapper{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 50 auto 0px;
    }
    .content-wrapper.position{
    left: -71px;
    transition: all .3s ease-in-out;
    }

    .content-wrapper .container-fluid{
        position: absolute;
        left: 195px;
        width: 
    }.container-fluid{
       transition: all .3s ease-in-out;
    }
    .container-fluid.move{
        left: 71px;
        transition: all .3s ease-in-out;
    }
    .main-container{
        width: -moz-available;
    }
    .content-wrapper .main-container{
        margin: 0 auto;
        padding: 0;
    }
    .content-wrapper .main-container__header{
        margin: 0;
        padding: 0;
    }
    .region-header .col-sm-10{
        margin: 0;
        padding:0;
    }
    .region-header .row{
        margin: 0;
        padding: 0;
    }
    .row .col-xs-12{
        margin: 0;
        padding: 0;
    }
/*--------------------Desktop version(margin and padding)------------------*/
html,
html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
} 
.panel-default{
    border-color: none!important;
}
   .col-md-9 .region-content{
    margin-left: 0px;
    margin-right: 0px;
    background: #ffffff;
   }
   .breadcrumb{
    background: #ffffff;
    margin-bottom: 0;
    padding-left: 21px;
   }
   .breadcrumb li{
    font-size: 18px;
   }
   .contextual-region .tab-content{
    background: #ffffff;
    padding-left: 0;
   }
   .tab-content .tab-pane{
    padding-left: 0;
   }
   .col-md-12.toggle-menu.toggle-menu-right{
    background: #fbfbfb;
    padding-left: 0px;
    padding-right: 0px;
   }
   .container-fluid{
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0;
    padding-left: 0;

   }
   
/*---------------------------------column---3----------------------------*/
   .col-md-3{
    margin-top: 20px;
   }
   .col-md-3 .panel-heading{
    padding:0;
   }
/*----------------------------------dashboard---------------------------*/
#block-views-block-decreto-my-meetings-block-my-meetings,
#block-views-block-decreto-all-meetings-block-all-meetings{
    border-radius: 6px;
    overflow: hidden;
    margin: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0;
    box-shadow: none;
}

/*------------------dashboard-table--------------------*/
.view-content .table-responsive{
    height: 100%;
    background: #fbfbfb;
}
/*-----------------dashboard-table------------------------*/
.table > thead > tr > th,
 .table > tbody > tr > th,
 .table > tfoot > tr > th, 
 .table > thead > tr > td,
 .table > tbody > tr > td, 
 .table > tfoot > tr > td{
    padding-left: 16px;
    font-size: 14px;
    padding-left: 20px;
 }
/*--------------------superfish-menu--------------------*/
.clearfix .navbar-btn{
    display: none!important;
}
#block-decreto-theme-main-menu{
    display: none!important;
}
ul.sf-menu a, ul.sf-menu span.nolink{
    color: #aaabae;
}
ul.sf-menu .sf-sub-indicator{
    height: 30px;
    right: 0.5em;
    top: 1.5em;
    width: 30px;
    cursor: pointer;
}
.sf-sub-indicator.rotate{
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
ul.sf-menu.sf-vertical{
    width: 195px;
}
ul.sf-menu.sf-vertical li{
    width: 195px;
    display: list-item;
    border-bottom: 1px solid #3b3f4c;
    transition: all .3s ease-in-out;
}
ul.sf-menu.sf-vertical li:hover{
    background: #323b40;
}
#main-menu-link-contentbf9dea01-cdae-4d31-b0fe-6c6ebc219ec8 ul{
    width: 195px;
}
#main-menu-link-contenta25c1967-54bd-442d-bf94-5631ad42800a ul{
    width: 195px;
}
.sf-depth-1 .menuparent .sf-hidden{
    display: block;
  
    left: 2em;
}
    
    .left-container #block-mainnavigation .main-menu-link {
        display: flex;
        align-items: center;
    }
    .left-container #block-mainnavigation .main-menu-link:before { 
    color: #A7A9AC;
        }
    
    .left-container #block-mainnavigation .sf-depth-1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
/*-------un-ordered list-----//////-#dff0d8*/
    ul.sf-menu.sf-vertical li {
        transition-delay: 1s;
    }
ul.sf-menu.sf-vertical li:hover > ul {
    left: 0em;
    position: relative;
    border: none;
    box-shadow: none;
    padding-bottom: 0px!important;
}
   .left-container #block-mainnavigation .menuparent:hover {
        padding-bottom: 0px;
    }
    .left-container #block-mainnavigation .sf-with-ul {
        padding-bottom: 0px;
    }
    .left-container #block-mainnavigation .menuparent {
        transition: all .3s;
    }
.sf-depth-1 .sf-depth-2 > a{
    display: none;
}
.sf-depth-1 .sf-depth-2 > a.open{
    display: block;
}
.full .panel-heading{
    margin-top: 80x;
}

    .toggle-menu-container{
        background:#364045;
        color:#FFFFFF;
        width: 100%;
        margin-top: 0;
        margin: 0;
        margin-bottom: 0px;
        padding-left:20px;
        padding-top: 20px;
        position: fixed;
        bottom: 0;
        width:195px;
        top: 28px;
        transition: all .3s ease-in-out;
        
    }
    .toggle-menu-container {
       
}
    
     .toggle-menu-container.containerClose{
        width:71px;
        transition: all .3s ease-in-out;
        padding-left: 20px;
        border-left: none;
     }
     /*-----------
     .toggle-menu-container:not(:hover){
        width: 65px;
        transition: 1s;
     }
     ----------------------*/
    /*-------------------------list style superfish menu-------*/
    #block-mainnavigation{
        margin-left: -20px;
    }
    #superfish-main li.closeContainerMenuItems{
        width: 71px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    ul.sf-menu li{
        float: none;
        z-index: 0;
        position: relative;
    }
    #superfish-main a{
        border-bottom: 1px solid transparent;
        font-size: 20px;
        font-family: sans-serif;
    }
    #superfish-main .main-menu-link{
        border-bottom: 1px solid transparent;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        font-family: 'open Sans', sans-serif;
        color: #ffffff;
        padding-left: 20px;
        width: 195px;
        transition: all .3s ease-in-out;
    }
    #superfish-main a:hover{
        text-decoration: none;
        background: transparent;
        transition: .2s;
    }
    #superfish-main .main-menu-link:hover{
        background: transparent;
    }

    ul.sf-menu.sf-vertical .sf-sub-indicator:after { font-family: "Material Icons"; content: "\E313"; }
    ul.sf-menu.sf-vertical .sf-sub-indicator:after {
    font-size: 22px;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 8px;
    }
    ul.sf-menu.sf-vertical .sf-sub-indicator:focus:after{
         transform: rotate(180deg);
    }
/*-----------------------superfish-menu-icons------------------*/
    
.sf-depth-1 .main-menu-link:before {
     margin-right: 14px;
        font-size: 25px;
    }    
.sf-depth-1 .dashboard:before { font-family: "Material Icons"; content: "\E871"; }
.sf-depth-1 .dashboard:before{
     margin-right: 14px;
        font-size: 25px;
}

.sf-depth-1 .calendar:before { font-family: "Material Icons"; content: "\E916"; }
.sf-depth-1 .calendar:before{
     margin-right: 14px;
        font-size: 25px;
}
.sf-depth-1 .meetings:before{ font-family: "Material Icons"; content: "\E7fb"; }
.sf-depth-1 .meetings:before{
     margin-right: 14px;
        font-size: 25px;
}

.sf-depth-1 .users:before{ font-family: "Material Icons"; content: "\E851"; }
.sf-depth-1 .users:before{
    margin-right: 14px;
        font-size: 25px;
}

.sf-depth-1 .settings:before{ font-family: "Material Icons"; content: "\E8b9"; }
.sf-depth-1 .settings:before{
    margin-right: 14px;
        font-size: 25px;
}
    
    .containerClose .main-menu-link:before {
       margin-right: 25px;
        margin-left: 3px;
        transition: all .3s ease-in-out;
        color: #fff!important;
    }
    .containerClose .superfish-main li {
        margin: 0!important;
        
    }
    .containerClose #block-mainnavigation .sf-depth-1 {
        padding-top: 10px;
        margin: 0!important;
        padding-bottom: 10px;
    }
/*-------------------------desktop header-----------------------*/
.content-wrapper .main-container{
    height: 100%
}
.main-container__header{
    width: auto;
    background: #323641;
}
.region .col-sm-10{
    width: 70%;
}
.notifications-link-glypjicon a{
    width: 100%
}
#edit-search-api-fulltext{
    margin: 0;
    padding: 0;
    color: #000!important;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-radius: 100px;
    margin-top: 3px;
}
#edit-search-api-fulltext:focus{
    background:#fff;
    color: #cbe8d2;
}
#block-user-account-menu{
    margin: 0;
    padding: 0;
    margin-left: -1px;
}
    #block-user-account-menu {
        width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    position: relative;
    }
#block-user-account-menu-menu{
    margin: 0;
    padding: 0;
}
    header .region-header {
        display: flex;
        align-items: center;
        height: 60px;
    }
.region .col-sm-2{
    width: 13%;
}
    .btn-default:hover, .btn-default:focus {
        background: none!important;
    }
    header .dropdown-toggle {
        color: #364045!important;
    }
    header .caret {
        margin-left: 10px!important;
        margin-top: 10px!important;
    }
/*----------------------notifications-link---------------*/
#block-notificationsiconlink{
    min-width: 60px;
    float: left;
    height: 60px;
    border-radius: inherit;
    border: none;
    cursor: pointer;
    box-shadow: none;
    background: #ea6022;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit-submit-decreto-search {
    color: transparent;
    border-radius: inherit;
    border: none;
    margin: 0;
    padding: 0;
    
}
#block-notificationsiconlink .panel-body{
    height: 50px;
    border: none;
}
#block-notificationsiconlink .fa-bell{
    margin-top: 22px;
    /* margin-left: 35px; */
    font-size: 15px;
}
 
.fa-bell:before{
    font-family: "Material Icons";
    content: "\E7F4"!important;
    color: #ffffff;
    font-size: 24px;
   }
/*--------------social-media-icons------------------*/
#block-socialiconsconnect{
    float: left;
    width: 13%;
    border: none;
    height: 30px;
    margin-left: -1px;
}
#block-socialiconsconnect .panel-body{
    height: 50px;
    background: #323641;
    padding-left: 14%;
}
.social-media-icons ul{
    list-style: none; 
    height: 40px;
}
.social-media-icons ul li{
    float: left;
    padding-right: 15%;
    font-size: 14px;
    padding-top: 18px;
}
.social-media-icons ul li:hover{
    -moz-transform: scale(1.3);
 -webkit-transform: scale(1.3);
 transform: scale(1.3);
}
.social-media-icons ul li:first-child a{
    color: #ffffff;
}
.social-media-icons ul li:first-child a:hover{
    color: #3b5998;
}
.social-media-icons ul li:nth-child(2) a{
    color: #ffffff;
}
.social-media-icons ul li:nth-child(2) a:hover{
    color: #0084b4;
}
.social-media-icons ul li:nth-child(3) a{
    color: #ffffff;
}
.social-media-icons ul li:nth-child(3) a:hover{
    color: #c71610;
}
/*-----------social-media-icons-end--------------*/
#edit-submit-decreto-search .glyphicon-search{
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    padding:0;

}
#edit-submit-decreto-search .glyphicon-search:before{ font-family: "Material Icons"; content: "\E8b6"; }
#edit-submit-decreto-search .glyphicon-search:before{
    color: #364045;
    padding: 5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-top: 0;
    font-size: 14px;
    background-image: none;
}
    #edit-submit-decreto-search span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px!important;
    }

/*------------------admin/users dropdown menu--------------*/
#decreto-user-menu-dropdown{
    margin: 0;
    padding: 15px;
    padding-left: 0;
    width: 100%;
    height: 50px;
    border-radius: inherit;
    border: none;
    color: #ffffff;
    display: flex;
    font-size: 15px;
    padding-left: 10%;
    padding-top: 16.5px;
}
#decreto-user-menu-dropdown:hover{
    text-decoration: underline;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-left: 15%!important;
    margin-top: 12px;
}
.caret:before{
    display: none;
}
.dropdown .dropdown-menu{
    background: #fbfbfb;
    width: -webkit-fill-available;
    height: 70px;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: inherit;
    min-width: 110px;
    font-size: 12px!important;
}
a[href^="/user/edit"]:before{
    display: none;
}
.dropdown-menu > li > a{
    padding: 0;
}
.dropdown .dropdown-menu li a:hover{
   text-decoration: underline;
   background: transparent;
}
    
    header #views-exposed-form-decreto-search-page .col-xs-12 {
        padding-left: 20px;
        padding-right: 20px;
    }
    header {
        background: #f1f2f3!important;
        height: 60px;
/*
     -webkit-box-shadow: 0px 10px 37px -18px rgba(0,0,0,0.20);
-moz-box-shadow: 0px 10px 37px -18px rgba(0,0,0,0.20);
box-shadow: 0px 10px 37px -18px rgba(0,0,0,0.20);
*/
        border-bottom: 1px solid rgba(0,0,0,0.01);
       
    }
    .main-container__content-space {
        margin-top: 50px!important;
    }
    header .panel-body {
        background: none!important;
    }
    header .btn-default {
        background: none;
    }
    header .panel {
        background: none;
    }
    .notification-link {
        display: flex;
    width: 100%;
    height: 100%;
    }
    .notification-link a {
        display: flex;
    width: 100%;
    min-height: 100%;
    margin: 0!important;
    justify-content: center;
    align-items: center;
    }
.container-fluid .row{
    margin: 0;
    padding: 0;
   
}
/*--------------calendar-------------------*/
.calendar-calendar td .inner div.day a{
    color: #ec7139;
}
.pager li > a, .pager li > span{
    background:transparent;
}
.pager li > a:hover, .pager li > a:focus{
    background-color: transparent;
}
#block-views-block-decreto-calender-calendar-block{
    border-radius: 5px;
    margin-bottom: 0px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
}
.mini-day-off {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.calendar-calendar .month-view .full td .inner div.day,
.calendar-calendar .month-view .full td .inner div.day a{
    font-size: 20px;
 }
.calendar-calendar{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty{
    color: #cc9;
}
.calendar-calendar .month-view .full tr.date-box, 
.calendar-calendar .month-view .full tr.date-box td, 
.calendar-calendar .month-view .full tr.multi-day, 
.calendar-calendar .month-view .full tr.multi-day td{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.calendar-calendar .month-view .full tr.single-day .no-entry, 
.calendar-calendar .month-view .full tr.single-day .no-entry .inner{
    height:3em!important;
    width: 5em!important;
}
.calendar-calendar .month-view .full td.single-day .inner div, 
.calendar-calendar .month-view .full td.single-day .inner div a{
    color: #79808D;
    font-size: 12px; 
}
.calendar-calendar .month-view .full tr td.multi-day,
.calendar-calendar .month-view .full tr td.single-day{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 3em;
    width: 5em;
 }
.calendar-calendar td{
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    height: 32px;
    width: 32px;
    font-size: 16px;
    color: #777;
}
.views-element-container .panel-body {
    background: none;
    border: none;
}
.calendar-calendar tr td.today, 
.calendar-calendar tr.odd td.today, 
.calendar-calendar tr.even td.today{
    background-color: #ffb100;
    color: #21201d;
    font-size: 16px;
}
.pager{
    border-radius: none;
    margin:0px;
    border-radius: 5px;
}
.pager li {
    font-size: 20px;
}
.js-pager__items{
    justify-content: center;
    background: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#block-views-block-decreto-user-committees-my-committees-block{
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 20px;
}
#block-views-block-decreto-user-committees-my-committees-block .panel-title{
    margin: 0;
}
#block-views-block-decreto-user-committees-my-committees-block ul{
    list-style-type: none;
    padding-left: 20px;
}
/*-----------------info and agenda starts here--------------*/
.contextual-region .panel-title{
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 5px;
    background: #ffffff;
}
#info{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0;
    border-radius: 7px;0;
}
#info .field .col-xs-7{
    width: 100%;
    font-size: 14px;
    text-align: left;
}
#info .field{
    padding-left: 8px;
    padding-top: 25px;
}
#info .field--name-field-decreto-meet-type{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#info .field .field--label{
    font-size: 18px;
    width: 25vw;
}
#agenda .btn-primary{
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 0px;
    background: #ffffff;
    margin-right: 10px;
    margin-left: 10px;
}
/*----------------------------------separated by participants---------------------*/
#info .field--name-field-decreto-meet-partic{
    display: flex;
    height: auto;
}

#info .field--name-field-decreto-meet-partic .field--label:after{
    content: none;
}
#info .col-xs-7 #Participants{
    padding-left: 0px!important;
    display: block!important; 
    padding-top: 0;
}
#info #participants{
    pointer-events: none;
}
/*----------------------------------separated by description---------------------*/
#info .field--type-text-with-summary{
    display: flex;
    height: auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#info .field--type-text-with-summary .field--label:after{
    content: none;
}
#info .col-xs-7 #Description{
    padding-left: 0px!important;
    display: block!important; 
    padding-top: 0;
}
#info .Description{
pointer-events: none; 
}
/*-------------------------------end of description table-----------------------*/
#info .field .field--item{
    text-align: inherit;
    font-size: 18px;
}
.region-content .decreto-meeting{
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1); 
    border-color: #e8e4ea;
}
#agenda{
    padding: 0;
}
#agenda .panel-default{
    margin-left: 50px;
    height: 100%;
    border-radius: inherit;
    margin-bottom: 5px;
}
.area-expand-collapse span a{
    color: #32424c;
    font-size: 18px;
    margin: 0;
    padding-left: 10px;
    font-weight: 100;
}
.contextual-region .content{
    background: #fbfbfb;
}
#bp-content-2 .field{
    background: #fbfbfb;
}
.annotator-wrapper{
    position: relative;
    height: 100%;
    background: #ffffff
}
.annotator-wrapper .field p{
    background: #fbfbfb;
    padding-bottom: 50px;
    border-radius: 7px;
    height: 100%;
    padding-left: 55px;
    padding-right: 10px;
}
#agenda .annotator-wrapper .field p{
    background: #Fafafa;
    padding-bottom: 80px;
    height: 100%;
    font-size: 16px;
    padding-left: 60px;
    margin-left: 10px;
    color: #323641;
    border-radius: 7px;
}
.decreto-meeting .field--name-field-decreto-meet-bps{
    margin-top: 15px;
    padding-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 7px;
}
/*---------------------create new meetings-----------*/
#decreto-content-modify-meeting-edit-form {
    margin-right: 10px;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 7px;
    padding: 10px!important;
}
#decreto-content-modify-meeting-edit-form .form-text{
    width: 50%
}
.select-wrapper{
    width: 50%;
}
#js-bps-container .panel-body{
    padding: 0
}
#js-bp-23-container{
    margin:50px;
}
/*---------------------------full-clearfix-decreto-bulletpoint--------*/
#bpa-content-57{
    padding: 0;
    border-radius: 7px;
}
.contextual-region .decreto-bullet-point-attachment{
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    padding-top: 10px;
}
#agenda .decreto-bullet-point{
    background: #ffffff;
    padding: 20px;
    border-radius: 7px;
}
.form-group:last-child,
 .panel:last-child, 
 .popover ol:last-child, 
 .popover ul:last-child, p:last-child{
    border-color: #fbfbfb;
 }
.btn-expand-collapse{
    background:transparent;
    border-color: transparent;
}
.btn-expand-collapse:focus{
    background: transparent;
    border-color: transparent;
}
.btn-expand-collapse:hover{
    background: transparent;
    border-color: transparent;
}
.decreto-bullet-point .panel{
    margin-top: 10px;
    border:none;
    box-shadow: none;
    margin-bottom: 0px;
    margin-left: 0;
}
.area-expand-collapse .panel-defaul{
    border-color:#ffffff;
}

#speaker-paper-4{
    height: 100%;
    background: #fbfbfb;
}
#speaker-paper-4 .panel-heading{
    border-color: transparent;
}
#speaker-paper-4 .panel-title{
    font-size: 20px;
    background: #fbfbfb;
    padding-left: 10px;
 }
 #speaker-paper-4 .field p{
    padding-left: 10px;
 }
 .decreto-bullet-point .btn-primary{
    margin-top: 0;
 }
 /*-------------------------------read-more-about-page------------------------*/
 .teaser h2{
    display: none;
}
.node-readmore{
    font-size: 15px;
    margin-left: 20px;
}
 /*-----------cd-nav-trigger----------------*/
 .full .contextual{
    content: "\2193";
    font-family: fontAwesome;
 }
/*-------------------jquey link------------*/
#toggle-menu-trigger{
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    bottom: 0px;
    transition: all .3s ease-in-out;
}
#toggle-menu-trigger:focus{
    outline: none;
}
#toggle-menu-trigger.visible{
    right: 0;
    transition: all .3s ease-in-out;
}

#toggle-menu-trigger:before { font-family: "Material Icons"; content: "\E314"; }
#toggle-menu-trigger:before{
    font-size: 20px;
    color: #aaabae;
}
#toggle-menu-trigger:hover:before{
    color: #ffffff;
}
#block-mainnavigation{
    width: 100px;
}

.cd-nav-trigger:before{
    content: "\2193";
    font-family: fontAwesome;
    background-image: none;
}
.cd-stretchy-nav.edit-content .cd-nav-trigger::after{
    content: "\f142";
    font-family: fontAwesome;
}
#toggle-menu-trigger.rotated {
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        transition: all .3s ease-in-out;
    
}

.button:focus{
    outline: none;
}