/**
 * Place your custom styles here.
 */
.area-expand-collapse {
    margin-left: 50px;
}

.btn-expand-collapse[aria-expanded="false"] .glyphicon:before{
    /*icon up*/
    content: "\e094";
}

.btn-expand-collapse[aria-expanded="true"] .glyphicon:before{
    /*icon down*/
    content: "\e093";
}

#pdf-main {
    position: relative !important;
}

.user-menu li{
    display: inline-block;
    padding-right: 5px;
}

/****** MAIN MENU ***********/

#main_menu ul li{
    position: relative;
}

#main_menu select {
    width:100%;
}
#main_menu ul li.has-children ul.sidebar{
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    display: none;
    z-index: 999;
}
#main_menu ul li.has-children.hover ul.sidebar{
    display: block;
}

