// |--------------------------------------------------------------------------
// | Meetings search
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin meetings-search-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search {

  .form-item {

    &.form-item-ld {

      label {
        padding-top: 15px;
      }

      input {
        margin-right: 5px;
      }
    }
  }

  // Resets.
  .container {
    display: inline-block;

    width: auto !important;

    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .row {
    display: inline-block;

    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .col-sm-6 {
    display: inline-block;

    float: left !important;

    width: auto !important;

    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search {

    .form-item {

      // Free text.
      &.form-item-s {
        float: left;

        &.form-group {
          margin-bottom: 0;
        }

        .form-control {
          width: 200px;
        }
      }

      // From date.
      &.form-item-from {
        float: left;

        &.form-group {
          margin-bottom: 0;
        }

        .form-control {
          width: 120px;
        }
      }

      // To date.
      &.form-item-to {
        float: left;

        &.form-group {
          margin-bottom: 0;
        }

        .form-control {
          width: 120px;
        }
      }
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search {

    .form-item {

      // Free text.
      &.form-item-s {

        .form-control {
          width: 250px;
        }
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search {

    .form-item {

      // Free text.
      &.form-item-s {

        .form-control {
          width: 370px;
        }
      }

      // From date.
      &.form-item-from {

        .form-control {
          width: 150px;
        }
      }

      // To date.
      &.form-item-to {

        .form-control {
          width: 150px;
        }
      }
    }
  }
}

// Custom
@media screen and (min-width: #{$screen-lg-min + 100px}) {

  .boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search {

    .form-item {

      // Free text.
      &.form-item-s {

        .form-control {
          width: 500px;
        }
      }
    }
  }
}
@media screen and (min-width: #{$screen-lg-min + 200px}) {

  .boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search {

    .form-item {

      // Free text.
      &.form-item-s {

        .form-control {
          width: 530px;
        }
      }
    }
  }
}
@media screen and (min-width: #{$screen-lg-min + 300px}) {

  .boxy--views-exposed-filter-blockdecreto-search-meetings-decreto-page-meetings-search {

    .form-item {

      // Free text.
      &.form-item-s {

        .form-control {
          width: 550px;
        }
      }
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
