@media(min-width:768px) {
    /* ---------------------------- Main menu START ---------------------------- */
    .toggle-menu-container + .main-container {
        margin-left: 0px;
        margin-top: 0;
        
    }
    .toggle-menu-container.collapsed + .main-container {
        margin-left: 0px;
    }
    /* ---------------------------- Main menu END ---------------------------- */

    /* ---------------------------- Meeting layout START---------------------------- */
    .decreto-meeting .tab-content > .tab-pane {
        display: block;
        opacity: 1;
    }

    .decreto-meeting .field--name-field-decreto-meet-bps {
        margin-top: 15px;
    }
    /* ---------------------------- Meeting layout END---------------------------- */
}