// |--------------------------------------------------------------------------
// | Boxy
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .boxy
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin boxy-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.boxy {
  position: relative;

  padding: 15px 0;

  background-color: $body-bg-secondary;
  border-radius: $border-radius-base;
}

.boxy__heading {}
.boxy__heading__title {
  font-weight: $headings-font-weight-bold;
}

.boxy__body {
  background-color: inherit;
}

.boxy__helper {
  position: absolute;

  top: 26px;
  right: $boxy-spacing-left-right;

  color: $text-color-light;

  cursor: default;

  .material-icons {
    font-size: inherit;
  }
}

.boxy {

  // For the .boxy__helper element.
  .contextual-region.view {
    position: initial;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.boxy {

  &.boxy--background-color-transparent {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }

  &.boxy--background-color-body-bg-secondary {
    background-color: $body-bg-secondary;
  }

  &.boxy--background-color-primary {
    margin-bottom: 0;

    @include border-bottom-radius(0);

    background-color: #D4EBE7;

    .boxy__heading__title {
      color: #32424C;
    }

    label {
      color: $brand-tertiary;
    }

    .form-control {
      border-color: #A5B8B6;
    }
  }

  &.boxy--background-color-secondary {
    background-color: $brand-secondary;
  }

  &.boxy--background-color-tertiary {
    background-color: $brand-tertiary;
  }

  &.boxy--background-color-quaternary {
    background-color: $brand-quaternary;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
