// |--------------------------------------------------------------------------
// | View
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .view-blog-posts
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin view-blog-posts-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.view-blog-posts {

  .view-content {
    @extend .boxy;
    @extend .boxy__body;

    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }

  .views-row {

    + .views-row {
      margin-top: floor( ( $grid-gutter-width / 2 ) );
      padding-top: floor( ( $grid-gutter-width / 2 ) );

      border-top: 1px solid $border-color;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}