// |--------------------------------------------------------------------------
// | Bulletpoint
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .bulletpoint
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin form-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.bulletpoint {
  width: 100%;
  padding: $padding-base-vertical 0;
}

.bulletpoint__bar {
  display: flex;

  align-items: center;

  min-height: 50px;

  //margin-bottom: 1px;

  //border: 1px solid $body-bg;
  //background-color: $body-bg;

  .material-icons {
    font-size: $font-size-large;
  }

  > *:last-child {
   // padding-right: 20px;
  }
  
  .action-list {
    width: min-content;
    display: flex;
  }
}

.bulletpoint__toggler {
  height: 36px;
  width: 36px;

  transition: none;

  //margin-top: -1px;
  //margin-bottom: -1px;
  //margin-left: -1px;

  outline: 0;
  border: 0;
  background-color: $brand-primary;
  color: $text-color;
  
  border-radius: 100%;
  
  z-index: 200;

  &:before {
    @extend .material-icons;

    font-size: 24px !important;

    content: "keyboard_arrow_right";

    color: inherit;
  }

  + .bulletpoint__meta {
    margin-left: 20px;
  }
}

.bulletpoint--open {

  > .bulletpoint__bar {

    .bulletpoint__toggler {
      color: #fff;
      background-color: $link-color;

      &:before {
        content: "keyboard_arrow_down";
        margin-left: -1px;
        margin-top: 2px;
      }
    }
  }
}

.bulletpoint__meta {
  flex-grow: 1;
  
  span {
   cursor: pointer; 
  }

  .action-list {
    //display: inline-block;

    margin-left: 10px;
    display: inline-flex;
  }
}

.bulletpoint__content {
  display: none;

  .bulletpoint--open > & {
    display: block;
      
    .bulletpoint {
      padding: 0px;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.bulletpoint--attachment {
  //margin-bottom: 1px;

  //border: 1px solid $body-bg;

  .bulletpoint__meta {
    font-size: $font-size-small;
    padding-left: 36px + 20px;
    font-weight: $font-weight-semibold;
    color: $gray;
    cursor: pointer;
  }

  .bulletpoint__bar {
    margin-bottom: 0;

    border: 0;
    background-color: $body-bg-secondary;
  }

  .bulletpoint__toggler {
    color: $headings-color;
    background-color: $body-bg;
  }

  &.bulletpoint--open {

    .bulletpoint__bar {
     // background-color: #D4EBE7;
    }

    .bulletpoint__toggler {
      background-color: $brand-primary;
    }
  }

  .bulletpoint__content {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 36px + 20px + 20px;
    padding-right: 50px + 20px;

    font-size: $font-size-small;
    
  }
}

.bulletpoint:not(.bulletpoint--attachment) {

  .bulletpoint__empty-text {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 36px + 20px;
    padding-right: 50px + 20px;
    //margin-bottom: 1px;

    font-size: $font-size-small;
    color: $gray-light;
    //border: 1px solid $body-bg;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {
  .action-list__wrapper__mobile{
    display: block;
    
    .btn {
      box-shadow: none;
      padding: 4px 0 8px 0;
      border-radius: 0px;
      background: none;
    }
    
    .action-list__pointer__left {
      display: inline-block;
    }
    .action-list__pointer__right {
      display: none;
    }
    
    .open {
      .btn {
        background: $brand-primary;
        box-shadow: none;
        color: $btn-default-color;
      }
      .action-list__pointer__left {
        display: none;
      }
      .action-list__pointer__right {
        display: inline-block;
      }
      
      .dropdown-menu {
        top: -25%;
        right: 100%;
        left: initial;
        min-height: 50px;
        border: 0;
        border-radius: 0px;
        box-shadow: 0px 0px;
        margin-top: 0px;
        padding: 12px 8px 12px 35px;
        background: linear-gradient(270deg, #FFFFFF 88.69%, rgba(255, 255, 255, 0) 100%);
        
        button.action-list__button,
        a.action-list__button {
          padding-left: 4px;
          padding-right: 4px;
        }
      }
      
      //background overlay for dpopdown menu
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        //background: #666;
      }
    }
  }
  .action-list__wrapper__tablet{
    display: none;
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {
  .action-list__wrapper__mobile{
    display: none;
  }
  .action-list__wrapper__tablet{
    display: block;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
