// |--------------------------------------------------------------------------
// | Initial icon
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .initial-icon
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin initial-icon-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.initial-icon {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  border-radius: 100%;

  color: $headings-color;
  background-color: $brand-primary;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Sizes.
.initial-icon--small {
  width: 32px;
  height: 32px;

  font-size: $font-size-extra-small;

  color: $headings-color;
  border: 1px solid $brand-primary;
  background-color: $body-bg-secondary;
}

// Colours.

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}