// |--------------------------------------------------------------------------
// | Helper
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .helper
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin helper-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.meeting-page__action-buttons {

  .btn {

    + .btn {
      margin-top: 5px;
      margin-left: 0;
    }
  }
}
.meeting-page__action-buttons--left {

  + .meeting-page__action-buttons--right {
    margin-top: 10px;
  }
}

// Search form.
.meeting__search-form {
  position: relative;
  display: block;

  .btn {

    &.btn-pale {

      &:active, &:focus {
        background: $brand-secondary-pale;
        border-radius: $btn-border-radius-base $btn-border-radius-base 0px 0px;
      }
    }
  }
}
.meeting__search-form--visible {

  .meeting__search-form-wrapper {
    display: block;
  }
}
.meeting__search-form-wrapper {
  display: none;

  margin-top: 9px;
}

.meeting__search-form--visible {

  .js-toggle-search-form {
    position: relative;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      outline: 0;
    }

    &:after {
      display: block;
      position: absolute;

      top: 100%;
      left: 0;
      right: 0;

      z-index: 200;

      content: "";

      height: 10px;

      background-color: $brand-secondary-pale;
    }
  }
}

.meeting-page {

  .meeting-page__heading-row {
    display: flex;
    justify-content: space-between;
  }

  .field--name-field-decreto-meet-end-date,
  .field--name-field-decreto-meet-start-date {
    display: inline-block;
  }

  .meeting-page__action {

    .btn {
      margin-bottom: 10px;
    }
  }

  .meeting-page__header {
    display: flex;
    align-items: center;
    margin-bottom: $line-height-computed;
  }

  .meeting-page__datebox {
    display: inline-block;
    background: $link-color;
    color: white;
    padding: $padding-small-vertical $padding-small-horizontal;
    border-radius: $border-radius-base;
    text-align: center;
    font-weight:$headings-font-weight-semibold;
    line-height: 1;
    margin-right: 20px;

    .meeting-page__datebox__day {
      font-size: ($font-size-large)+2;
    }
    .meeting-page__datebox__month{
      font-size: $font-size-small;
    }
  }

  .mb {
    margin-bottom: $line-height-computed;
  }

  .d-inline {
    display: inline-block;
  }

  &.boxy__heading {
    border-bottom: 2px solid $body-bg;
  }

  .btn {

    .material-icons{
      font-size: $font-size-large;
    }

    &.btn-pale {
      background: $brand-secondary-pale;
      color: $headings-color;

      &:hover, &:active {
        background: darken($brand-secondary-pale, 8%);
      }
    }
  }

  .meeting-page__info {
    min-width: 50%;
  }

  .meeting-page__info-icons {
    display: flex;
    justify-content: space-between;

    .text--with-icon {
      font-size: $font-size-small;
      color: $headings-color;

      > a {
        color: $headings-color;
      }

    }
  }

  .dropdown-menu {
    border: none;
    border-radius: $border-radius-base;
    background-color: $body-bg-secondary;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
    margin-top: 0px;

    min-width: 136px;

    font-size: $font-size-small;

    > li > a,
    > li > button {
      align-items: center;
      padding: $padding-base-vertical ($padding-base-horizontal/2);
      background: none;
      border: 0px;
      width: 100%;
      text-align: left;
      font-weight: $font-weight;
      color: $text-color;

      &:hover, &:focus {
       background: none;
        color: $link-color;
      }
    }

    li {

      + li {

        > a,
        > button {
          border-top: 1px solid #E2E2E2;
        }
      }
    }
  }

  .meeting__search-form-wrapper {
    background: $brand-secondary-pale;
    border-radius: $border-radius-base;
    border-top-left-radius: 0px;
    padding: $padding-base-vertical $padding-large-horizontal;

    .helper {
      display: none;
    }
  }
  .meeting-page__action__align {

    .meeting-page__settings {
      display: inline-block;

      .dropdown-menu {
        margin-top: -10px;
      }

      + a.btn {
        margin-left: 15px;
      }
    }
  }

  #decreto-content-modify-search-in-meeting-form {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;

    .form-inline {

      .form-group {
        margin-bottom: 0;

        &.form-type-textfield {
          width: calc(100% - 150px);
          display: inline-block;
        }

        input.form-text {
          width: 100%;
        }

      }

      .form-actions {
        display: inline-block;
      }
    }

    .form-submit {

      &.btn {

        &, &:hover, &:focus {
          background-color: $headings-color;
        }
      }
    }
  }

  #search-form {
    margin-top: 10px;

    .form-inline {
      width: 100%;
    }
    #decreto-content-modify-search-in-meeting-form .form-type-textfield {
      width: calc(100% - 135px);

      > input.form-text {
        width: 100%;
      }
    }
  }
  .meeting-page--agenda--wrapper {
    position: relative;
  }
  .meeting-page--agenda--line {
    background: $border-color;
    position: absolute;
    top: 45px;
    bottom: 25px;
    left: 17px;
    width: 2px;
    z-index: 10;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Sizes.

// Colours.

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {
  .meeting-page {

    .btn {
      min-width: auto;
      padding-left: 10px;
      padding-right: 10px;
    }

    .meeting-page__heading-row {
      flex-direction: column;

      .meeting-page__info {
        order: 2;

        .meeting-page__info-icons {
          display: block;
        }
      }
      .meeting-page__action {
        order: 1;
        margin-bottom: 10px;
      }
    }

    .action-list__item {
      display: inline-block;
      margin-right: 13px;

      > button {
        padding-left: 10px;
        padding-right: 10px;
      }

      .btn.btn-pale.js-toggle-search-form {
        
        i {
          display: none;
        }
      }
    }

    .meeting-page__buttons-wrapper {
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
    .meeting-page__action-buttons--right {
      .action-list__item{
        display: inline-block;
      }
    }


    .meeting__search-form-wrapper {
      padding: 0px 12px 0px;
      margin-top: 0px;

      #decreto-content-modify-search-in-meeting-form {

        .form-inline {

          .form-group {

            &.form-type-textfield {
              width: calc(100% - 70px);
              margin-right: 10px;

              input.form-control {
                height: 31px;
                font-size: $font-size-small;
              }
            }
          }

          .btn {
            min-width: auto;
            font-size: $font-size-small;
            padding: 5px 10px;
          }

        }

      }
    }
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .meeting-page__info-icons {

    .meeting-page__info-icons__col:first-child {
      padding-right: 20px;
    }
  }

  .meeting-page__action-buttons {

    .btn {

      + .btn {
        margin-top: 5px;
        margin-left: 0;
      }
    }
  }
  .meeting-page__action{
    padding-top: 5px;
    .meeting-page__action__align {
      text-align: right;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {
  .meeting-page__info-icons {
    margin-left: 62px;
  }

  .meeting-page__action-buttons {
    display: flex;
  }
  .meeting-page__action-buttons--left {
    flex-grow: 1;

    + .meeting-page__action-buttons--right {
      margin-top: 10px;
    }
  }
  .meeting-page__buttons-wrapper {
    .meeting-page__drop-button {
      display: none;
    }
    > ul.dropdown-menu {
      display: block;
      position: initial;
      background: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      float: none;

      > li {
        display: inline-block;
        vertical-align: middle;

        + li {
          margin-left: 14px;
        }

        > a.btn,
        > button.btn {
          width: auto;
          text-align: center;
          line-height: 1.6;
          font-weight: $font-weight-semibold;
          line-height: 1.6;

          &.btn-primary {
            padding: 8px 14px;
            background: $brand-primary;
            border: 0px;

            &:hover {
              background: darken($brand-primary, 10%);
              color: $text-color;
            }
          }
          &.btn-default {
            padding: 8px 13px;
            background: none;
            border: 1px solid $brand-primary;
            line-height: 1.5;
            color: $btn-default-color;

            &:hover {
              background: lighten($brand-primary, 15%);

              color: $text-color;
            }
          }
        }
      }
    }
  }
  .meeting__search-form {
    display: inline-block;

    + .btn {
      margin-left: floor($grid-gutter-width / 2);
    }

    .btn {
      padding-left: 9px;
      padding-right: 14px;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
