// |--------------------------------------------------------------------------
// | Helper
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .helper
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin helper-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.meeting-page {
  
  .meeting-page__action {
    .btn-primary {
      margin-bottom: 10px;
    }
   .btn-pale{
      margin-bottom: 10px;
      margin-left: 15px;
    }
  }
    
  .meeting-page__header {
    display: flex;
    align-items: center;
    margin-bottom: $line-height-computed;
  }

  .meeting-page__datebox {
    display: inline-block;
    background: $link-color;
    color: white;
    padding: $padding-small-vertical $padding-small-horizontal;
    border-radius: $border-radius-base;
    text-align: center;
    font-weight:$headings-font-weight-semibold;
    line-height: 1;
    margin-right: 20px;

    .meeting-page__datebox__day {
      font-size: ($font-size-large)+2;
    }
    .meeting-page__datebox__month{
      font-size: $font-size-small;
    }
  }

  .mb {
    margin-bottom: $line-height-computed;
  }

  .d-inline {
    display: inline-block;
  }

  &.boxy__heading {
    border-bottom: 2px solid $body-bg;
  }

  .btn {
    // font-size: $font-size-small;

    .material-icons{
      font-size: $font-size-large;
    }

    &.btn-pale {
      background: $brand-secondary-pale;
      color: $headings-color;

      &:hover, &:active {
        background: darken($brand-secondary-pale, 8%);
      }
    }
  }

  .search-form__hidden {
    background: $brand-secondary-pale;
    border-radius: $border-radius-base;
    border-top-left-radius: 0px;
    padding: $padding-base-vertical $padding-large-horizontal;
    
    .helper {
      display: none;
    }
  }

  .dropdown-menu {
    border: none;
    font-size: $font-size-small;
    border-radius: $border-radius-base;
    background-color: $body-bg-secondary;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;


    > li > a {
      align-items: center;
      padding: $padding-base-vertical 0;

      &:hover, &:focus {
       background: none;
        color: $link-color;
      }
    }

    li {

      + li {

        > a {
          border-top: 1px solid #E2E2E2;
        }
      }
    }
  }

  #decreto-content-modify-search-in-meeting-form {
    padding-top: 5px;
    padding-bottom: 5px;

    .form-inline {

      .form-group {
        margin-bottom: 0;
      }

      .form-actions {
        display: inline-block;
      }
    }

    .form-submit {

      &.btn {

        &, &:hover, &:focus {
          background-color: $headings-color;
        }
      }
    }
  }

  .js-toggle-search-form {

    &[aria-expanded="true"] {
      position: relative;

      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:after {
        display: block;
        position: absolute;

        top: 100%;
        left: 0;
        right: 0;

        z-index: 1000;

        content: "";

        height: 10px;

        background-color: $brand-secondary-pale;
      }
    }
  }

  #search-form {
    margin-top: 10px;
    
    .form-inline {
      width: 100%;
    }
    #decreto-content-modify-search-in-meeting-form .form-type-textfield {
      width: calc(100% - 135px);
      
      > input.form-text {
        width: 100%;
      }
    }
  }
  .meeting-page--agenda--wrapper {
    position: relative;
  }
  .meeting-page--agenda--line {
    background: $border-color;
    position: absolute;
    top: 30px;
    bottom: 10px;
    left: 17px;
    width: 2px;
    z-index: 10;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Sizes.

// Colours.

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {
  .meeting-page__action__align {
      text-align: right;
    }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
