// |--------------------------------------------------------------------------
// | Poppy
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .poppy
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$poppy-box-spacing-left-right: floor( ($grid-gutter-width / 2) );

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin poppy-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.poppy {
  position: relative;
}

// Toggle.
.poppy-toggle {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0;

  width: 44px;
  height: 44px;

  color: $headings-color;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid $headings-color;

  &:focus {
    outline: none;
  }
}
.poppy-toggle__count {
  position: absolute;
  display: flex;

  top: -5px;
  right: -5px;

  justify-content: center;
  align-items: center;

  width: 22px;
  height: 22px;

  border-radius: 100%;

  font-size: 10px;

  color: #fff;
  background-color: $brand-secondary;
}
.poppy-toggle__icon {

  + .poppy-toggle__description {
    margin-left: 10px;
  }
}

.poppy-toggle__description {
  line-height: 1.1;

  text-align: left;
}

// Form.
.poppy-form {
  position: absolute;
  display: none;

  z-index: $zindex-modal - 10;

  top: 0;
  left: 0;

  .poppy-toggle {
    position: absolute;

    left: 0;

    border: 0;
  }

  .poppy--open & {
    display: initial;
  }

  input {
    width: 300px;
    height: 44px;

    padding-left: 50px;

    outline: 0;

    color: $text-color;
    background-color: $body-bg;
    border-radius: 22px;
    border: 1px solid $headings-color;
  }
}

// Box.
.poppy-box {
  position: absolute;
  display: none;

  z-index: $zindex-modal - 10;

  top: 100%;
  left: 0;

  margin-top: 5px;

  overflow: hidden;

  width: 380px;

  border-radius: $border-radius-base;
  background-color: $body-bg-secondary;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

  .poppy--open & {
    display: initial;
  }

  .menu {
    margin: 0;
  }
}
.poppy-box--from-right {
  left: initial;
  right: 0;
}

.poppy-box__heading {
  margin-top: 25px;
  padding: 0 $poppy-box-spacing-left-right;

  + .poppy-box__content {
    margin-top: 5px;
  }
}
.poppy-box__heading__title {
  margin: 0;

  font-size: $font-size-h6;
  font-weight: $headings-font-weight-bold;

  color: $text-color;
}

.poppy-box__content {
  padding: 10px $poppy-box-spacing-left-right;

  + .poppy-box__footer {
    margin-top: 5px;
  }
}

.poppy-toggle__description {
  white-space: nowrap;

  + .caret {
    margin-left: 5px;
  }
}

.poppy-box__footer {
  display: block;

  padding: 15px $poppy-box-spacing-left-right;

  text-align: center;
  text-decoration: underline;

  background-color: $body-bg;

  &, &:hover, &:active, &:focus {
    color: $text-color;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.poppy-box--narrow {
  width: 200px;
}

.poppy-toggle--user {
  width: initial;
  height: 44px;

  border: 0;
}

.poppy-toggle--organisation-switcher {
  width: initial;
  height: 44px;

  padding-left: 15px;

  border: 0;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  // Form.
  .poppy-form {

    input {
      width: 550px;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
