// |--------------------------------------------------------------------------
// | Sidebar
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__sidebar
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$layout-sidebar-width: 300px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin layout-sidebar-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.layout__sidebar {
  width: $layout-sidebar-width;

  background-color: $body-bg-secondary;
}

.layout__sidebar__logo {
  display: block;

  padding: 20px 0;
  text-align: center;

  img {
    max-width: floor( ($layout-sidebar-width - $grid-gutter-width) );
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}