// |--------------------------------------------------------------------------
// | Steps
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .steps
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin form-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.steps {
  position: relative;
  display: flex;

  justify-content: center;

  &:before {
    position: absolute;

    content: "";

    top: 50%;
    left: 0;
    right: 50%;

    height: 1px;
    width: 50%;

    z-index: 0;

    background-color: $headings-color;
  }
}

.steps__item {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 50;

  padding: 0;

  width: 32px;
  height: 32px;

  font-weight: $font-weight-bold;

  color: $headings-color;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid $headings-color;

  &:before {
    position: absolute;

    content: "";

    top: 50%;
    left: -15px;

    height: 1px;
    width: 15px;

    z-index: 0;

    background-color: $headings-color;
  }

  + .steps__item {
    margin-left: 15px;
  }
}
.steps__item--active {
  color: #fff;

  border-color: $brand-secondary;
  background-color: $brand-secondary;
}

.modal {

  .steps {
    margin-top: -15px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .steps__item {
    width: 44px;
    height: 44px;
  }

  .modal {

    .steps {
      margin-top: -85px;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
